#errorCatcher Echo
## extstats demo skin for weewx - Copyright 2014 Matthew Wall
## $Id$
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>extstats</title>
  </head>
  <body>

all-time maximum temperature: $alltime.inTemp.max

seven-day maximum temperature: $seven_day.inTemp.max

thirty-day maximum temperature: $thirty_day.inTemp.max

  </body>
</html>
